# Need PEAR to install PECL.
with_pear

# Enable PDO PostgreSQL.
configure_option -R "--with-pdo-pgsql"

# Enable ext/intl with latest ICU version.
configure_option "--enable-intl"
configure_option "--with-icu-dir" "{{ icu_path }}/{{ item.1.version }}"

# Disable CGI.
configure_option -R "--disable-cgi"

{% if item.0.version|version_compare('5.4', '<') %}
# Remove libevent dir for PHP < 5.4.
# Alternative way: install newer libevent version (> 1.4.11)
configure_option -R --without-libevent-dir
{% endif %}

# Just in case php-build does not have the definition file.
# Works only with the most "recent releases".
if [ -f {{ phpbuild_path }}/share/php-build/definitions/{{ item.0.version }} ]; then
  source {{ phpbuild_path }}/share/php-build/definitions/{{ item.0.version }}
else
  # Xdebug is installed with pecl.
  install_package "https://php.net/distributions/php-{{ item.0.version }}.tar.bz2"
  install_pyrus

  {% if item.0.version|version_compare('5.5', '>=') %}
  enable_builtin_opcache
  {% endif %}
fi
